# Import libararies

In [18]:
import pandas as pd
import matplotlib.pyplot as plt

# load database

In [48]:
# Try reading the CSV file with a different encoding
df = pd.read_csv('D:\\jn\\data-anlytics-project\\CleaningData\\AB_NYC_2019.csv', encoding='ISO-8859-1')

In [50]:
# Convert columns to appropriate data types
df['id'] = df['id'].astype(int)
df['host_id'] = df['host_id'].astype(int)
df['price'] = df['price'].astype(float)
df['minimum_nights'] = df['minimum_nights'].astype(int)
df['number_of_reviews'] = df['number_of_reviews'].astype(int)
#df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')
df['reviews_per_month'] = df['reviews_per_month'].astype(float)
df['calculated_host_listings_count'] = df['calculated_host_listings_count'].astype(int)
df['availability_365'] = df['availability_365'].astype(int)
# Convert 'last_review' to datetime, specifying the dayfirst parameter
df['last_review'] = pd.to_datetime(df['last_review'], dayfirst=True, errors='coerce')
# Check the data types
print(df.dtypes)

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

#  Handling Missing Data

In [27]:
# Check for missing values in the dataset
missing_data = df.isnull().sum()
print(missing_data)

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [34]:
import pandas as pd

# Load the dataset (use the correct encoding and handle date parsing)
df = pd.read_csv('D:\\jn\\data-anlytics-project\\CleaningData\\AB_NYC_2019.csv', encoding='ISO-8859-1')

# Convert 'last_review' to datetime, specifying the dayfirst parameter
df['last_review'] = pd.to_datetime(df['last_review'], dayfirst=True, errors='coerce')

# Fill missing 'reviews_per_month' with the median value (without using inplace)
df['reviews_per_month'] = df['reviews_per_month'].fillna(df['reviews_per_month'].median())

# Fill missing 'last_review' with a placeholder date (without using inplace)
df['last_review'] = df['last_review'].fillna(pd.to_datetime('1970-01-01'))

# Check for any remaining missing values
print(df.isnull().sum())

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

#  Remove asterisks from the 'name' column

In [37]:

# Remove asterisks from the 'name' column
df['name'] = df['name'].str.replace('*', '', regex=False)

# Verify the changes
print(df['name'].head())

0                  Clean & quiet apt home by the park
1                               Skylit Midtown Castle
2                 THE VILLAGE OF HARLEM....NEW YORK !
3                     Cozy Entire Floor of Brownstone
4    Entire Apt: Spacious Studio/Loft by central park
Name: name, dtype: object

In [38]:
# Check for missing data in each column
missing_data = df.isnull().sum()

print("Missing Data Summary:")
print(missing_data)

Missing Data Summary:
id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [39]:
# Drop rows with missing values
df.dropna(inplace=True)

# Drop columns with missing values
# df.dropna(axis=1, inplace=True)

# Check for any remaining missing values
print(df.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

# Duplicate Removal

In [42]:
# Remove duplicate rows based on all columns
df.drop_duplicates(inplace=True)

# If you want to drop duplicates based on specific columns, specify those columns
# df.drop_duplicates(subset=['id', 'host_id'], inplace=True)

# Verify that duplicates are removed
print(df.duplicated().sum())

0

id: Unique identifier for the listing. name: Name of the listing. host_id: Unique identifier for the host. host_name: Name of the host. neighbourhood_group: The broader area or region where the listing is located. neighbourhood: The specific neighborhood within the broader region. latitude: Latitude coordinate of the listing’s location. longitude: Longitude coordinate of the listing’s location. room_type: Type of room offered (e.g., entire home/apartment, private room, shared room). price: Price per night for the listing. minimum_nights: Minimum number of nights required for a booking. number_of_reviews: Total number of reviews the listing has received. last_review: Date of the most recent review. reviews_per_month: Average number of reviews per month. calculated_host_listings_count: Number of listings the host has. availability_365: Number of days the listing is available for booking in a year (out of 365 days)

In [51]:
# Inspect the cleaned DataFrame
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  float64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(5)
memory usage: 6.0+ MB
None
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room  149.0               1                  9  2018-10-19
1  Entire home/apt  225.0               1                 45  2019-05-21
2     Private room  150.0               3                  0         NaT
3  Entire home/apt   89.0               1                270  2019-07-05
4  Entire home/apt   80.0              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

# Standardization:

In [43]:


# Standardize text data
df['neighbourhood_group'] = df['neighbourhood_group'].str.upper()
df['name'] = df['name'].str.strip()
df['room_type'] = df['room_type'].str.title()

# Standardize numerical data
df['price'] = df['price'].apply(lambda x: round(x, 2))
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)

# Check the changes
print(df.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            BROOKLYN    Kensington  40.64749  -73.97237
1     Jennifer           MANHATTAN       Midtown  40.75362  -73.98377
2    Elisabeth           MANHATTAN        Harlem  40.80902  -73.94190
3  LisaRoxanne            BROOKLYN  Clinton Hill  40.68514  -73.95976
4        Laura           MANHATTAN   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private Room    149               1                  9  2018-10-19
1  Entire Home/Apt    225               1                 45  2019-05-21
2     Private Room    150               3                  0  1970-01-01
3  Entire Home/Apt     89               1                270  2019-07-05
4  Entire Home/Apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2               0.72                               1               365
3               4.64                               1               194
4               0.10                               1                 0

# Outlier Detection

In [45]:
from scipy import stats

# Calculate Z-scores
z_scores = stats.zscore(df[['price', 'latitude', 'longitude']])
df_z_scores = pd.DataFrame(z_scores, columns=['price', 'latitude', 'longitude'])

# Identify outliers
outliers_z = (df_z_scores.abs() > 3).any(axis=1)
print("Number of outliers (Z-score method):", outliers_z.sum())

Number of outliers (Z-score method): 1668

In [46]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers_iqr = (df['price'] < (Q1 - 1.5 * IQR)) | (df['price'] > (Q3 + 1.5 * IQR))
print("Number of outliers (IQR method):", outliers_iqr.sum())

Number of outliers (IQR method): 2971